
.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; 
  background-color: #ffffff; 
  
  border-bottom: 4px solid #143D60; 
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%; 
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #143D60; 
  text-decoration: none;
}

.nav-menu {
  display: flex;
  gap: 15px;
}

.btn-outline {
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 25px;
  font-weight: 600;

  background: #ff5a00;    
  color: white;            
  border: 1.5px solid #ff5a00;

  transition: 0.3s;
}

.btn-outline:hover {
  background: #e65100;
  border-color: #e65100;
  color: white;
}

.btn-solid {
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 25px;
  font-weight: 600;
  background: #ff5a00;
  color: white;
  border: 1.5px solid #ff5a00;
  transition: 0.3s;
}

.btn-solid:hover {
  background: #e65100;
  border-color: #e65100;
}